  .header{
    margin-top: 25%;
    text-align: center;
    color: white;
  }

  body{
    background-image: url("../images/goonies_wallpaper.jpg");
    background-size: cover;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    color: white;
    text-align: center;
  }
  
  button{
    color: black;
  }

  h2{

  }

  p{
    text-align: center;
  }

  #question1 {
    text-align: center;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
  
    
